<!DOCTYPE html>
<html lang="en">
    <head>
        <h1 style="color: blue">
        Cabecera de plantilla
        </h1>
    </head>
    <body>
        <h2 style="color: red">
        Plantilla  creada por EJ
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/saludo/">saludo</a> 
                <a class="btn btn-primary" href="/familiar">familiar</a> 
                
                

            </div>
        </nav>


        </h2>
    </body>
</html>

